<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Record</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <style type="text/css">
        .wrapper{
            width: 500px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h2>Update Album</h2>
                    </div>
                    <p>Please edit the input values and submit to update the album</p>
                    <form action="" method="post">
                        <input type="hidden" name="id" value="{{id}}"/>
                        {% csrf_token %}
                        <div class="form-group">
                                <label>Album Id: <strong>{{id}}</strong></label>
                        </div>
                        <div class="form-group">
                            <label>Album Name</label>
                            <input type="text" name="album" id="id_album"class="form-control" value="{{albumName}}">
                            <span class="help-block">Previous was: {{albumName}}</span>
                        </div>
                        <div class="form-group">
                                <label for="id_artist">Pick up Artist</label>
                                <span class="help-block">Previous was: {{artistName}}</span>
                                <select id="id_artist" name="artist" multiple style="height: 110px; width: 550px;">
                                    {% for key, value in artists %}
                                        {% if value == artistName %}
                                            <option value="{{ key }}" selected>{{ value }}</option>
                                        {% else %}
                                            <option value="{{ key }}" >{{ value }}</option>
                                        {% endif %}    
                                    {% endfor %}
                                </select>
                        </div>
                        
                        <div class="form-group"></div>
                                <label for="id_tracks">Update tracks: <strong>One per line</strong></label>
                                <label for="id_tracks"></label>
                                <textarea name="tracks" id="id_tracks" cols="75" rows="6">{% for key, value in tracks %}
{{value}}{% endfor %}</textarea>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Submit">
                        <a href="http://127.0.0.1:8000" class="btn btn-default">Cancel</a>
                    </form>
                </div>
            </div>        
        </div>
    </div>
</body>
</html>